<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="firstload" value="true"/>
    <add key="phplocation" value="" />
    <add key="defaultTaskTime" value="1" />
    <add key="pull1Enabled" value="false" />
    <add key="pull1Location" value="" />
    <add key="pull1ArtisanLocation" value="" />
    <add key="pull1ConfigLocation" value="smsdrc" />
    <add key="pull1Interval" value="60" />
    <add key="pull1BootUp" value="10" />
    <add key="pull1ClearCache" value="true" />
    <add key="pull1SoftReset" value="true" />
    <add key="pull2Enabled" value="false" />
    <add key="pull2Location" value="" />
    <add key="pull2ArtisanLocation" value="" />
    <add key="pull2ConfigLocation" value="smsdrc" />
    <add key="pull2Interval" value="60" />
    <add key="pull2BootUp" value="10" />
    <add key="pull2ClearCache" value="true" />
    <add key="pull2SoftReset" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>